@model IEnumerable<ClassicGarageArkBar.Models.RepairsModels>

@{
    ViewBag.Title = "Repairs";
}

@foreach (var m in Model)
{
    <div class="row panel panel-primary">
        <div class="panel-heading">
            <h5> @m.Name</h5>
        </div>
        <div class="panel-body col-sm-8 ">
            <label class="control-label col-md-2">Description:</label> @m.Description <hr />
            <h4>  Repair Price: @m.RepairPrice $</h4>

            @Html.ActionLink("Details", "Details", new { id = m.ID })<hr />

        </div>
    </div>
}