@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Welcome to My Garage</h1></center>
    <hr />
    <p class="lead"><expanded >
    My Garage is brand new website, when you can make advertisements. You want to make people know offers about your cars, car parts or maybe you are looking
    for someone to repair your car? Use navbar to find what you are looking, or register to create your own offers.
</expanded></p>

</div>

<div class="row">

</div>